name: Build macOS App

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            arch: Silicon
          - os: macos-15
            arch: Intel


    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --name "Vrew_Macro_${{ matrix.arch }}" --windowed vrew_macro.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Vrew_Macro_macOS_${{ matrix.arch }}
        path: dist/Vrew_Macro_${{ matrix.arch }}.app
